* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.navBarWrap {
  height: 8vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
}

.navBarWrap h1 {
  margin-right: 40px;
}

.navLinkWrap {
  display: flex;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.registerPageWrap {
  height: 92vh;
  background-color: #84a24f;
  overflow: auto;
}

.navOptionsWrap {
  display: flex;
}

.Form {
  height: 40vh;
  width: 30vw;
  border: 1px solid black;
  flex-direction: column;
}

input, textarea {
  height: 30px;
  width: 50%;
  padding-left: 10px;
  margin: 10px 0;
}

button {
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 20px 40px;
  cursor: pointer;
}

.postWrap {
  height: 400px;
  width: 300px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  margin: 0 20px;
}

.postWrap p {
  width: 30ch;
}
